### Importar librerias

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib as plt

### Base de datos

In [3]:
#Csv:
df = pd.read_csv("C:/Users/aliso/OneDrive/Escritorio/Mineria de Datos/players_stats_by_season_full_details.csv",encoding='utf8')

### Visualizar datos

In [8]:
df.shape          # Filas , Columnas
df.head()         #Primeros 5 datos

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",6-5,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",6-3,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",6-6,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",6-11,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",6-2,188.0,180.0,82.0,United States,Norman High School

In [9]:
df.columns        #Los nombres de las columnas no muestran espacios ni signos raros ya que esta en ingles

Index(['League', 'Season', 'Stage', 'Player', 'Team', 'GP', 'MIN', 'FGM',
       'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF', 'ORB', 'DRB', 'REB',
       'AST', 'STL', 'BLK', 'PTS', 'birth_year', 'birth_month', 'birth_date',
       'height', 'height_cm', 'weight', 'weight_kg', 'nationality',
       'high_school'],
      dtype='object')

In [11]:
df.dtypes       #Tipo de datos

League          object
Season          object
Stage           object
Player          object
Team            object
GP               int64
MIN            float64
FGM              int64
FGA              int64
3PM              int64
3PA              int64
FTM              int64
FTA              int64
TOV              int64
PF               int64
ORB              int64
DRB              int64
REB              int64
AST              int64
STL              int64
BLK              int64
PTS              int64
birth_year     float64
birth_month     object
birth_date      object
height          object
height_cm      float64
weight         float64
weight_kg      float64
nationality     object
high_school     object
dtype: object

### Datos nulos

In [12]:
df.isnull().any()   #Si dice TRUE hay nulos en la columna

League         False
Season         False
Stage          False
Player         False
Team            True
GP             False
MIN            False
FGM            False
FGA            False
3PM            False
3PA            False
FTM            False
FTA            False
TOV            False
PF             False
ORB            False
DRB            False
REB            False
AST            False
STL            False
BLK            False
PTS            False
birth_year      True
birth_month     True
birth_date      True
height          True
height_cm       True
weight          True
weight_kg       True
nationality     True
high_school     True
dtype: bool

In [13]:
df.isnull().sum()       #Cantidad de nulos por columna

League             0
Season             0
Stage              0
Player             0
Team              11
GP                 0
MIN                0
FGM                0
FGA                0
3PM                0
3PA                0
FTM                0
FTA                0
TOV                0
PF                 0
ORB                0
DRB                0
REB                0
AST                0
STL                0
BLK                0
PTS                0
birth_year       319
birth_month      319
birth_date       319
height            74
height_cm         74
weight          4566
weight_kg       4566
nationality        7
high_school    30247
dtype: int64

### Clasificacion de datos

In [14]:
df.League.unique()             #Clasifica por Liga (League)

array(['NBA', 'Euroleague', 'Israeli-BSL', 'Argentinian-Liga-A',
       'Australian-NBL', 'Austrian-A-Bundesliga', 'Balkan-BIL',
       'Belarusian-BPL', 'Belgium-Scooore-League', 'Bosnian-BiH-Liga',
       'Brazilian-NBB', 'British-BBL', 'Bulgarian-NBL', 'Canadian-NBL',
       'Chinese-CBA', 'Croatian-A-1-Liga', 'Czech-NBL',
       'Danish-Basketligaen', 'Estonian-Latvian-Basketball-League',
       'Eurocup', 'FIBA-Europe-Cup', 'Finnish-Korisliiga',
       'French-Jeep-Elite', 'Georgian-Super-Liga', 'German-BBL',
       'Greek-HEBA-A1', 'Hungarian-NBIA', 'Italian-Lega-Basket-Serie-A',
       'Japanese-BLeague', 'Kosovo-FBK', 'Lebanese-Division-A',
       'Lithuanian-LKL', 'Luxembourg-Total-League',
       'Macedonian-Superleague', 'Mexican-LNBP', 'Netherlands-DBL',
       'New-Zealand-NBL', 'Norwegian-BLNO', 'Polish-TBL',
       'Romanian-Divizia-A', 'Serbian-KLS', 'Slovakian-Extraliga',
       'Slovenian-SKL', 'South-Korean-KBL', 'Spanish-ACB',
       'Swedish-Basketligan', 'Swiss-LNA', 'Turkish-BSL',
       'Ukrainian-Superleague', 'Balkan-BIBL'], dtype=object)

In [15]:
df.Team.unique()                #Clasifica por equipos (Team)

array(['HOU', 'POR', 'PHX', 'MIL', 'ATL', 'DAL', 'WAS', 'LAL', 'UTA',
       'BOS', 'LAC', 'CHI', 'SAS', 'NOP', 'DEN', 'PHI', 'SAC', 'TOR',
       'CLE', 'OKC', 'IND', 'BRK', 'NYK', 'ORL', 'MEM', 'GSW', 'MIA',
       'CHA', 'MIN', 'DET', 'CSKA', 'KHI', 'EFE', 'FCB', 'CAJ', 'MAC',
       'PAN', 'FEN', 'VAL', 'BAY', 'BER', 'ZVE', 'ZAL', 'ZEN', 'OLY',
       'RMB', 'LYV', 'HAP', 'MRL', 'NAH', 'HAPJ', 'GAL', 'HAI', 'EIL',
       'BEER', 'IRO', 'ASH', 'HISP', 'FOR', 'CAOS', 'ARG', 'WBE', 'INST',
       'CAP', 'AAQ', 'CIC', 'SMC', 'ADA', 'OES', 'REG', 'COMU', 'CABJ',
       'EST', 'GIM', 'PLAT', 'CDL', 'ALM', 'LUD', 'EWE', 'CRA', 'RAS',
       'BLB', 'GOE', 'FRA', 'OLI', 'RUL', 'BC', 'BRO', 'GIE', 'HAM',
       'TBB', 'VIE', 'KAP', 'STP', 'ASG', 'OBE', 'RAI', 'DUKE', 'VIEN',
       'GRZ', 'IBAR', 'PEJ', 'SHKO', 'BULT', 'RAHO', 'SOZ', 'RUB', 'BOR',
       'BSEU', 'IMP', 'RCOP', 'PRI', 'TM2', 'G93', 'BKM', 'TMY', 'LEU',
       'OKA', 'SPI', 'KAN', 'MON', 'LIM', 'OOS', 'LIE', 'ANT', 'BRU',
       'TAK', 'PROM', 'VOG', 'MLA', 'ZRI', 'SIR', 'BRAT', 'KAK', 'SLO',
       'SPA', 'IGO', 'SPFC', 'FAC', 'PIN', 'MOG', 'SAO', 'BOT', 'PAU',
       'FLA', 'BAU', 'CORI', 'RIO', 'BRA', 'CEA', 'PATO', 'SUR', 'GLA',
       'LON', 'CHE', 'OHS', 'NEW', 'WOR', 'LEI', 'MAN', 'UCP', 'BAF',
       'EUR', 'RIL', 'BAL', 'BSZ', 'LUK', 'LEV', 'TUN', 'HAL', 'SUD',
       'STO', 'KW', 'WIN', 'JOHN', 'TONG', 'BEIK', 'FUJ', 'GST', 'JIL',
       'QIN', 'XIN', 'BSD', 'LIA', 'ZGL', 'ZCB', 'SHA', 'SICH', 'BFT',
       'SZD', 'TIA', 'JIA', 'GFD', 'SDS', 'DON', 'VRI', 'ALK', 'SIB',
       'ZAB', 'VEL', 'SRKL', 'HERM', 'SPL', 'DUB', 'CIB', 'ZAD', 'PUN',
       'BWO', 'PST', 'PBD', 'SLU', 'NHO', 'KOL', 'KRAL', 'PRA', 'DEC',
       'TURI', 'NYM', 'BRN', 'SISU', 'FOG', 'WOLF', 'VAE', 'HOR', 'RAN',
       'AMAG', 'BAK', 'SVE', 'EBAA', 'TTU', 'OGRE', 'PAR', 'TUK', 'KLV',
       'JUR', 'RIG', 'KCT', 'TAR', 'RAP', 'LU', 'LPJ', 'VEN', 'UNI',
       'BOL', 'JOV', 'TOF', 'TREN', 'BRE', 'ASM', 'AND', 'DBI', 'COL',
       'NAN', 'BUD', 'LOK', 'PRO', 'CSP', 'BAHC', 'TRAN', 'LAN', 'EGIS',
       'ENI', 'ORA', 'KYIV', 'PRIS', 'SLB', 'PVSK', 'SOD', 'KAT', 'FRI',
       'WARS', 'GRON', 'KER', 'APO', 'DNI', 'PYR', 'KOB', 'NOK', 'KTP',
       'KOU', 'KAR', 'HEL', 'LAHB', 'URA', 'SAL', 'KOR', 'ROA', 'PLV',
       'JLB', 'PORT', 'CHO', 'RCB', 'STR', 'BBD', 'LEM', 'DIJ', 'GRV',
       'KUT', 'BAT', 'ARM', 'CAC', 'VERA', 'DIN', 'TSU', 'TIT', 'RUS',
       'MARN', 'RETH', 'ATH', 'IRAK', 'PAOK', 'ARI', 'PAI', 'PER', 'LAV',
       'LAR', 'IONI', 'ERMI', 'SZO', 'ZTE', 'NAT', 'KTE', 'ATO', 'DEAC',
       'KIS', 'ALB', 'OSE', 'FAL', 'JAS', 'NBB', 'PIS', 'PES', 'ROM',
       'VAR', 'CAN', 'TREV', 'CRE', 'TRIE', 'AIS', 'BRAV', 'KYOT', 'TOY',
       'NIGA', 'SHIM', 'LIN', 'RYUK', 'OSAK', 'HIT', 'SHIG', 'AKIT',
       'YOKO', 'NDD', 'SAN', 'TREP', 'YLLI', 'BASH', 'ULP', 'KALA',
       'FERO', 'HOM', 'BYB', 'AMT', 'SAG', 'ANI', 'FERZ', 'HOOP', 'SPO',
       'TEC', 'PZV', 'DZU', 'SIA', 'JUV', 'KED', 'NEP', 'ESC', 'HEF',
       'MUS', 'AMI', 'T71', 'ARA', 'ABC', 'RAC', 'ETZ', 'BSM', 'HESP',
       'SOL', 'RES', 'GOST', 'KOZ', 'RAB', 'PEL', 'AKA', 'NICK', 'KUM',
       'MZT', 'SK19', 'MICH', 'FUE', 'COR', 'HUR', 'ZACA', 'CAPI', 'AST',
       'CHIH', 'LEAN', 'ANG', 'ABE', 'LAGU', 'LIBE', 'RBC', 'EDB', 'BSW',
       'BRI', 'HUB', 'OGN', 'BULL', 'TAS', 'NEL', 'FLY', 'FRO', 'BAE',
       'TRO', 'AMM', 'NID', 'CEN', 'ASK', 'SSS', 'WIK', 'RADO', 'ANW',
       'ZAS', 'SLA', 'SZC', 'BYD', 'GLIW', 'DAB', 'TRE', 'STAL', 'PSG',
       'VOLU', 'FOCS', 'TIM', 'MED', 'PHC', 'STE', 'MARM', 'PIT', 'CONS',
       'MUR', nan, 'SLOB', 'ZEM', 'DUN', 'NOV', 'ZLAT', 'DYNA', 'PAZ',
       'MET', 'SWIS', 'TAM', 'NJKP', 'BEO', 'KOM', 'SNV', 'HAN', 'SVIT',
       'LUCE', 'PATR', 'PPTV', 'SGG', 'SEN', 'DOM', 'POL', 'ZLA', 'POD',
       'SIX', 'ROG', 'KRK', 'SAM', 'SKK', 'ANY', 'KCC', 'SON', 'INC',
       'GOY', 'MOB', 'SPB', 'BBB', 'GCN', 'OBR', 'ZAR', 'BETIS', 'WETT',
       'BCLF', 'DJUR', 'KFU', 'KOP', 'JAM', 'UMEA', 'NOR', 'BON', 'STA',
       'LUZ', 'LUG', 'MAS', 'LLG', 'UNB', 'NYO', 'LAUS', 'RIV', 'AFYO',
       'OGA', 'DEM', 'BURS', 'GAZ', 'ITU', 'BES', 'BVS', 'TUR', 'MYK',
       'ZNTU', 'ODE', 'SCM', 'KHAR', 'KAM', 'BHS', 'CAQ', 'EIS', 'SCJ',
       'RPF', 'BLOK', 'TEU', 'BAR', 'MOS', 'SREB', 'VAS', 'JOI', 'LCR',
       'STJ', 'BRET', 'CED', 'STEV', 'JEK', 'MOR', 'AVT', 'AEK', 'FCP',
       'SAK', 'IBB', 'FOS', 'HOL', 'KYM', 'TEHE', 'AVE', 'FUK', 'BORE',
       'KORD', 'OHR', 'SHK', 'WIND', 'SCR', 'IMS', 'SAI', 'ZER', 'MIAS',
       'SPAR', 'FMP', 'MEG', 'ILI', 'GBC', 'UPP', 'PULL', 'AVAN', 'SALT',
       'TUB', 'BIG', 'TIR', 'RAD', 'HADZ', 'CAX', 'UNIV', 'LIG', 'MOUR',
       'NIA', 'ZAG', 'RIB', 'JAZ', 'LJH', 'NIZ', 'ESPO', 'HYT', 'SOK',
       'AMA', 'MAFC', 'STOR', 'LOU', 'TAD', 'MESS', 'TMB', 'RADN', 'KOS',
       'ZIL', 'LTH', 'MPS', 'CEL', 'WINT', 'YES', 'ESK', 'TRA', 'UUB',
       'BIPA', 'GAT', 'ECHA', 'HAG', 'TEO', 'SUT', 'OSI', 'GRA', 'CDMS',
       'JOL', 'KVA', 'DOX', 'SEND', 'VELL', 'MAY', 'BASC', 'TLAX', 'KUTN',
       'BAIA', 'NAP', 'NIS', 'SME', 'NIT', 'MAL', 'TED', 'KIV', 'KREM',
       'VOLI', 'CJS', 'CAL', 'CGK', 'LOV', 'PEP', 'OKT', 'SLH', 'ETH',
       'ENE', 'HIB', 'NIL', 'ROU', 'AENK', 'KAV', 'ARK', 'MAR', 'GRE',
       'BEST', 'PIO', 'GIG', 'JEF', 'VOLL', 'JAG', 'SOS', 'SUN', 'ECO',
       'ART', 'TRI', 'BMIN', 'RUB2', 'HEO', 'POS', 'PAL', 'UBE', 'DUR',
       'MISS', 'AAL', 'PLO', 'NAM', 'TAP', 'KAOD', 'MAZ', 'GOCE', 'VODW',
       'GAN', 'CLU', 'BAN', 'GROS', 'SKD', 'GOV', 'SANA', 'NET', 'GOI',
       'VIL', 'BIR', 'OTT', 'KRI', 'SWI', 'NMKY', 'IKA', 'IlI', 'AMC',
       'BEJ', 'LSU', 'LIR', 'LEC', 'MMW', 'WAI', 'FAR', 'CON', 'CRN',
       'NOVI', 'GEO', 'MER', 'ALI', 'KLK', 'JUL', 'SER', 'SUZ', 'TIJ',
       'U20', 'OSJ', 'AAR', 'PB86', 'TSMU', 'GTU', 'BEI', 'NAG', 'GUE',
       'OSO', 'KSS', 'GIU', 'BUC', '08S', 'WES', 'SAV', 'END', 'HAC',
       'NJN', 'HAB', 'BGG', 'ULC', 'GEN', 'POJ', 'KSE', 'TER', 'NCM',
       'AGU', 'VOL', 'AUC', 'LZHH', 'POZ', 'AZS', 'LOD', 'OTO', 'VOJ',
       'ZEL', 'NAF', 'VAH', 'LUC', 'DUE', 'KRY', 'PANE', 'JAV', 'MEN',
       'FIN', 'DYN', 'FER', 'NOER', 'RHEI', 'SOLS', 'SEA', 'SJG', 'OVA',
       'CLER', 'SS', 'SCAF', 'LEO', 'SELL', 'LIV', 'BREE', 'QUEL', 'ROS',
       'VRC', 'SCHW', 'MAK', 'DVD', 'CEC', 'JES', 'PPL', 'TEN', 'BRIG',
       'PARM', 'LT', 'VAN', 'STV'], dtype=object)

In [16]:
df.height_cm.unique()            #Clasificacion por estaturas (height_cm)

array([196., 191., 198., 211., 188., 201., 203., 208., 206., 213., 193.,
       183., 185., 221., 216., 175., 180., 218., 178., 173., 165.,  nan,
       170., 168., 229., 226., 224., 160., 163.])

Se puede clasificar de muchas formas, pero la que mas nos interesa seria por liga de los equipos ya que es el que mayor relevancia tiene

In [22]:
NBA = df[df['League']=='NBA']               #Hago una clasificacion en la columna de Ligas, la que sean NBA

NBA.to_csv('Solo_clase1.csv', index=False)  #se guarda la clase NBA

In [23]:
LNB = df[df['League']=='French-Jeep-Elite'] #Hago una clasificacion en la columna de Ligas, la que sean Liga Nacional de Baloncesto de Francia

LNB.to_csv('Solo_clase2.csv', index=False)  #se guarda la clase Liga Nacional de Baloncesto de Francia

In [24]:
df.drop("height", axis=1)         #Borramos la columna height que representa la estatura en pies, ya que excel los marca como fechas
                                  # de cumplaños, ademas ya tenemos otra columna que nos da la estatura pero en cm

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,BLK,PTS,birth_year,birth_month,birth_date,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,60,2335,1989.0,Aug,"Aug 26, 1989",196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,22,1978,1990.0,Jul,"Jul 15, 1990",191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,18,1863,1996.0,Oct,"Oct 30, 1996",198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,66,1857,1994.0,Dec,"Dec 6, 1994",211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,8,1778,1998.0,Sep,"Sep 19, 1998",188.0,180.0,82.0,United States,Norman High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53793,NBA,1999 - 2000,Playoffs,John Salley,LAL,18,78.0,5,13,0,...,6,17,1964.0,May,"May 16, 1964",211.0,230.0,104.0,United States,Canarsie High School
53794,NBA,1999 - 2000,Playoffs,Muggsy Bogues,TOR,3,87.0,6,21,3,...,0,16,1965.0,Jan,"Jan 9, 1965",160.0,136.0,62.0,United States,Dunbar High School
53795,NBA,1999 - 2000,Playoffs,Jerome Williams,DET,3,73.0,7,14,0,...,0,15,1973.0,May,"May 10, 1973",206.0,206.0,93.0,United States,Magruder High School
53796,NBA,1999 - 2000,Playoffs,Randy Livingston,PHX,7,63.0,6,27,2,...,1,14,1975.0,Apr,"Apr 2, 1975",193.0,209.0,95.0,United States,Isidore Newman School
53797,NBA,1999 - 2000,Playoffs,Doug Christie,TOR,3,61.0,3,13,3,...,1,12,1970.0,May,"May 9, 1970",198.0,200.0,91.0,United States,Rainier Beach High School

Por el momento, solo eliminaremos esa columna ya que no sabemos si las que tienen datos nulos nos serviran proximamente o si tendremos que llenarla con ceros en caso de ser necesario

#### Preguntas de interes
- ¿Para que me puede servir estas agrupaciones para la práctica siguiente?
       Nos facilita el entendimiento de los datos, ya que podemos generalizar por agrupaciones las caracteristicas con las que cuenta en vez de por cada dato.

- Importancia del analisis previo de los datos antes de iniciar las modificaciones
       Nos ayuda a saber cuales datos son importantes para la solucion a mi problema, o sea cuales datos me sirven y cuales no; tambien ayuda a saber si los datos que tenemos si estan bien, o sea que no sean nulos o que no contenga informacion relacionada con la columna.

Para la practica, no creemos necesario cambiarle el nombre a nuestras columnas, pero para la tarea se podria cambiar al español para facilitar un poco mas el entendimiento de la informacion

In [25]:
df.rename(columns={"Player":"Jugador"})       #Cambiamos el nombre de la columna player por Jugador

,League,Season,Stage,Jugador,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",6-5,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",6-3,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",6-6,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",6-11,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",6-2,188.0,180.0,82.0,United States,Norman High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53793,NBA,1999 - 2000,Playoffs,John Salley,LAL,18,78.0,5,13,0,...,17,1964.0,May,"May 16, 1964",6-11,211.0,230.0,104.0,United States,Canarsie High School
53794,NBA,1999 - 2000,Playoffs,Muggsy Bogues,TOR,3,87.0,6,21,3,...,16,1965.0,Jan,"Jan 9, 1965",5-3,160.0,136.0,62.0,United States,Dunbar High School
53795,NBA,1999 - 2000,Playoffs,Jerome Williams,DET,3,73.0,7,14,0,...,15,1973.0,May,"May 10, 1973",6-9,206.0,206.0,93.0,United States,Magruder High School
53796,NBA,1999 - 2000,Playoffs,Randy Livingston,PHX,7,63.0,6,27,2,...,14,1975.0,Apr,"Apr 2, 1975",6-4,193.0,209.0,95.0,United States,Isidore Newman School
53797,NBA,1999 - 2000,Playoffs,Doug Christie,TOR,3,61.0,3,13,3,...,12,1970.0,May,"May 9, 1970",6-6,198.0,200.0,91.0,United States,Rainier Beach High School

#### Tareas extras: (Puntos extras)

- Investigar los siguientes comandos: ?df.dropna() ?df.astype     
El comando df.dropna() permite, de una forma muy conveniente, filtrar los valores de una estructura de datos pandas para dejar solo aquellos no nulos.El comando df.astype() nos permite convertir a un tipo de categoria a otra en pandas.

#### Realizar una tarea de preprocesamiento no mencionada en esta práctica.

- [df.describe](https://aprendeia.com/explorando-los-datos-con-python/)

La información que nos arroja es la siguiente:

“count”: se refiere al número de términos en la columna,

“mean”: se refiere al valor promedio de la columna,

“std”: es la desviación estándar de la columna.

También se muestra los valores máximo y mínimo, así como el límite de cada uno de los cuartiles.

In [26]:
df.describe()         #Solo toma las columnas que no tienen caracteres, solo los que contienen numeros

,GP,MIN,FGM,FGA,3PM,3PA,FTM,FTA,TOV,PF,...,DRB,REB,AST,STL,BLK,PTS,birth_year,height_cm,weight,weight_kg
count,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,...,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,53479.000000,53724.000000,49232.000000,49232.000000
mean,30.365850,753.694277,113.379438,245.480613,28.503086,80.840626,56.387356,76.140061,47.343674,70.220213,...,90.733038,125.120822,62.881352,26.765270,10.505781,311.660805,1986.346323,197.437607,210.286724,95.411948
std,17.840423,534.242031,100.207990,212.244452,30.692830,80.720022,59.273994,76.211933,37.402795,45.617964,...,84.665738,117.339844,73.240427,22.082308,18.216846,271.922079,6.636297,8.727599,26.129145,11.851760
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1961.000000,160.000000,130.000000,59.000000
25%,17.000000,382.500000,48.000000,109.000000,6.000000,20.000000,20.000000,28.000000,21.000000,37.000000,...,37.000000,50.000000,20.000000,11.000000,1.000000,134.000000,1982.000000,191.000000,190.000000,86.000000
50%,29.000000,664.300000,89.000000,196.000000,20.000000,61.000000,41.000000,56.000000,39.000000,64.000000,...,68.000000,93.000000,41.000000,21.000000,4.000000,248.000000,1987.000000,198.000000,209.000000,95.000000
75%,37.000000,955.000000,145.000000,310.000000,41.000000,117.000000,73.000000,99.000000,63.000000,91.000000,...,115.000000,159.000000,79.000000,36.000000,12.000000,400.000000,1991.000000,203.000000,229.000000,104.000000
max,85.000000,3485.000000,978.000000,2173.000000,402.000000,1028.000000,756.000000,972.000000,464.000000,371.000000,...,894.000000,1247.000000,925.000000,225.000000,307.000000,2832.000000,2004.000000,229.000000,375.000000,170.000000

Observemos abajo, que para las columnas de tipo objeto, se evalúa un conjunto diferente de estadísticas, veamos de que se trata cada uno de ellos:

“unique”: esto se refiere al número de objetos distintos en la columna,

“top”: es el dato más frecuente que se produce,

“freq”: es la cantidad de veces que aparece el objeto “top” en la columna.

Algunos valores en la tabla se muestran como “NaN”, que significa “no es un número”, esto se debe a que esta métrica estadística particular no se puede calcular para ese específico tipo de datos de columna.

In [28]:
df.describe(include = "all")     #Toma todas las columnas y si no es numerico ingresa NaN

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
count,53798,53798,53798,53798,53787,53798.000000,53798.000000,53798.000000,53798.000000,53798.000000,...,53798.000000,53479.000000,53479,53479,53724,53724.000000,49232.000000,49232.000000,53791,23551
unique,50,21,3,14574,793,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12,7491,28,NaN,NaN,NaN,539,3101
top,NBA,2019 - 2020,International,Anton Gavel,SAS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Jan,"Jan 29, 1985",6-8,NaN,NaN,NaN,United States,Oak Hill Academy
freq,7490,7116,46308,36,532,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5018,77,5845,NaN,NaN,NaN,18899,261
mean,NaN,NaN,NaN,NaN,NaN,30.365850,753.694277,113.379438,245.480613,28.503086,...,311.660805,1986.346323,NaN,NaN,NaN,197.437607,210.286724,95.411948,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,17.840423,534.242031,100.207990,212.244452,30.692830,...,271.922079,6.636297,NaN,NaN,NaN,8.727599,26.129145,11.851760,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1961.000000,NaN,NaN,NaN,160.000000,130.000000,59.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,17.000000,382.500000,48.000000,109.000000,6.000000,...,134.000000,1982.000000,NaN,NaN,NaN,191.000000,190.000000,86.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,29.000000,664.300000,89.000000,196.000000,20.000000,...,248.000000,1987.000000,NaN,NaN,NaN,198.000000,209.000000,95.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,37.000000,955.000000,145.000000,310.000000,41.000000,...,400.000000,1991.000000,NaN,NaN,NaN,203.000000,229.000000,104.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,85.000000,3485.000000,978.000000,2173.000000,402.000000,...,2832.000000,2004.000000,NaN,NaN,NaN,229.000000,375.000000,170.000000,NaN,NaN